<div class="container">

<form [formGroup]="profileForm" (ngSubmit)="submit()">

    <input readonly hidden formControlName="userId">

    <div class="row">
        <div class="col-4">
            <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>
    </div>
            
    <div class="row">
        <div class="col-4">
            <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
            </mat-form-field>
        </div>

        <div class="col-4">
            <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
        </div>
    </div>
        
    <div class="row">
        <div class="col-4">
            <mat-form-field>
                <input matInput placeholder="Display Name" formControlName="displayName">
            </mat-form-field>
        </div>
    </div>
            
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <textarea matInput placeholder="Meal Preference" formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
        <mat-form-field>
                <input matInput placeholder="Department" formControlName="department">
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field>
                <input matInput placeholder="Team" formControlName="team">
            </mat-form-field>
        </div>
    </div>

<hr />

<button mat-button type="submit">Submit</button>

</form>